<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-compatible" contnet="IE=edge" />
    <meta name="msapplication-tap-highlight" content="no">
    <title>项目详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <script type="text/javascript" src="../resources/javascript/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../resources/javascript/validate.js"></script>
    <script type="text/javascript" src="../resources/javascript/adapt.js"></script>
    <link rel="stylesheet" type="text/css" href="../resources/style/projectContent.css">
</head>

<body>
    <div id="outSide">
        <div id="outside">
            <header class="xy-projecterCon-head">
                <div class="xy-projecterCon-head-img">
                    <div class="xy-projecterCon-head-center">
                        <img src="" />
                    </div>
                    <div class="xy-projecterCon-head-name"></div>
                    <div class="xy-projecterCon-ul">
                        <span><font class="xy-projecterCon-head-area">北京</font><font class="xy-projecterCon-head-content">北京</font><font class="xy-projecterCon-head-guimo">北京</font></span>
                    </div>
                </div>
                <ul class="xy-projecterCon-head-content-left">
                    <li class="xy-projecterCon-head-content-setTime-left">
                        <span></span>
                        <span>建立时间</span>
                    </li>
                    <li class="xy-projecterCon-head-content-projectPerson-left">
                        <span></span>
                        <span>项目负责人</span>
                    </li>
                    <li class="xy-projecterCon-head-content-phone-left">
                        <span></span>
                        <span>联系电话</span>
                    </li>
                    <li class="xy-projecterCon-head-content-email-left">
                        <span></span>
                        <span>邮箱账号</span>
                    </li>
                    <li class="xy-projecterCon-head-content-financingScale-left">
                        <span></span>
                        <span>融资规模</span>
                    </li>
                    <li class="xy-projecterCon-head-content-projectDebriefing-left">
                        <span></span>
                        <span>项目进展情况</span>
                    </li>
                </ul>
                <ul class="xy-projecterCon-head-content-right">
                    <li class="xy-projecterCon-head-content-setTime-right">
                        <span></span>
                    </li>
                    <li class="xy-projecterCon-head-content-projectPerson-right">
                        <span></span>
                    </li>
                    <li class="xy-projecterCon-head-content-phone-right">
                        <a href=""></a>
                    </li>
                    <li class="xy-projecterCon-head-content-email-right">
                        <span></span>
                    </li>
                    <li class="xy-projecterCon-head-content-financingScale-right">
                        <span></span>
                    </li>
                    <li class="">
                        <span></span>
                    </li>
                </ul>
                <div class="clear"></div>
            </header>
            <div class="xy-projecterCon-projectOverView">
                <span></span>
                <span class="xy-projecterCon-projectOverView-head">项目概述</span>
                <p class="xy-projecterCon-projectOverView-con"></p>
            </div>
            <div class="xy-projecterCon-projectIntroduce">
                <span></span>
                <span class="xy-projecterCon-projectIntroduce-head">项目详情介绍</span>
                <div id="myarticle" class="xy-projecterCon-projectIntroduce-con">
                    <p></p>
                </div>
                <!-- <div class="xy-projecterCon-projectIntroduce-showOrHide"> -->
                <div id="btn"><span style="vertical-align: middle;font-size: 0.24rem;color: #c2c5d1;">展开全部</span><span id="btnImg"></span></div>
                <!-- </div> -->
                <div id="zhankai-div" onclick="doClick()">
                    <div id="zhankai"><span style="vertical-align: middle;">点击收起</span><span class="zhankaiImg"></span></div>
                </div>
            </div>
            <div class="xy-projecterCon-projectword">
                <span></span>
                <span class="xy-projecterCon-projectIntroduce-head">附件</span>
            </div>
            <div class="xy-projecterCon-expertise">
                <span></span>
                <span class="xy-projecterCon-expertise-head">专家评价</span>
            </div>
            <div class="xy-projecterCon-recommend father">
                <span class="xy-projecterCon-recommend-head">- 相关推荐 -</span>
            </div>
        </div>
        <!-- <div id="outsideBottom"></div> -->
    </div>
    <div class="xy-projecterCon-comment" name="bottom">
        <div class="self-comment" name="self-comment" id="container">
            <textarea id="txtarea_id" placeholder="请输入您的评价" onkeyup="this.value = this.value.substring(0, 100)"></textarea>
        </div>
        <span id="xuanzeRadio" class="xuanzemo" onclick="doChange()"></span>
        <span class="niming" style="color:#9094a0;font-size: 0.24rem">匿名</span>
        <button id="submit-comment">发表</button>
    </div>
    <!-- 弹框 -->
    <div class="errorDialog"></div>
    <script type="text/javascript">
    // 全局service请求路径
    var global_projectName = '/xypms'; // 同意配置项目名
    var global_serviceUrl = {
        'login': '/user/wechatLogin', // 用户登录
        'updatePassword': '/user/modifyPassword', //修改密码
        "getProjectDetail": "/project/getProjectDetail", //详情内容
        "getRecommendList": "/project/getRecommendList", //推荐列表
        "addAppraisal": "/project/addAppraisal", //发布评价
        "sendEmail": "/project/sendEmail",
        "queryRecommendProjectList": "/project/commentedProjects",
        "getProjectList": "/project/getProjectList"
    };
    // 全局AJAX请求封装
    function global_ajax(urlKey, params, callback, method, error) {
        var ajaxUrl = global_projectName + global_serviceUrl[urlKey];
        if (!!method && (method == 'get' || method == 'GET')) {
            ajaxUrl += '?';
            for (var key in params) {
                ajaxUrl += key + '=' + params[key] + '&';
            }
            ajaxUrl = ajaxUrl.substring(0, ajaxUrl.length - 1);
        };
        $.ajax({
            type: !method ? "post" : method,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: ajaxUrl,
            async: true,
            crossDomain: true,
            data: !!method && (method == 'get' || method == 'GET') ? '' : JSON.stringify(params),
            success: function(data) {
                if (data.code == '0000') {
                    callback(data);
                } else {
                    error(data);
                };
            }
        });
    };
      var redirect_uri = "http%3a%2f%2fxypmstest.xiyucapital.com%3a8080%2fxypms%2fwechat%2fauthentication";
      var redirect_ur = "http%3a%2f%2fxypms.xiyucapital.com%3a8080%2fxypms%2fwechat%2fauthentication";
      var jumpHref = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc058bd8828dc9330&"+"redirect_uri=" + redirect_uri + "&response_type=code&scope=snsapi_base&state=" + window.location.href.split("?")[1].split("=")[1] + "#wechat_redirect";
      var glovallHref = window.location.href.split("?")[1].split("=")[1];
     // var glovallHref = 130;
    //填充内容
    global_ajax("getProjectDetail", {
        "projectId": glovallHref,
        "source": "weixin"
    }, function(data) {
        var strFujian = '';
        var appraise = '';
        $(".xy-projecterCon-head-content-setTime-right>span").text(data.detailInfo.buildTime);
        $(".xy-projecterCon-head-content-projectPerson-right").text(global_validate.objectIslong(data.detailInfo.leader));
        $(".xy-projecterCon-head-content-phone-right a").text(data.detailInfo.contactNumber);
        var tel = "tel:" + data.detailInfo.contactNumber;
        $(".xy-projecterCon-head-content-phone-right a").attr("href", tel);
        $(".xy-projecterCon-head-content-email-right").text(global_validate.objectIslong(data.detailInfo.email));
        $(".xy-projecterCon-head-content-financingScale-right").text(global_validate.objectIslong(data.detailInfo.financingSize));
        $(".xy-projecterCon-head-content-projectDebriefing-right").text(data.detailInfo.progress);
        $(".xy-projecterCon-projectOverView-con").text(data.detailInfo.summary);
        $(".xy-projecterCon-projectIntroduce-con>p").text(data.detailInfo.detail);
        $(".xy-projecterCon-head-center img:eq(0)").attr("src", data.detailInfo.pictures[0].url);
        $(".xy-projecterCon-head-name").text(data.detailInfo.projectName);
        $(".xy-projecterCon-head-area").text(data.detailInfo.area);
        $(".xy-projecterCon-head-content").text(data.detailInfo.topCategory + '.' + data.detailInfo.secondCategory);
        $(".xy-projecterCon-head-guimo").text(data.detailInfo.financingStage);
        $(data.detailInfo.attachments).each(function(i, m) {
            strFujian += '<ul projectEmail=' + i + ' onclick="doEmail(&quot;' + m.attName + "&quot;," + i + ')">' + '<li><span class=' + m.attName.substring(m.attName.length - 3) + '>' + '</span>' + '</li>' + '<li class="strFujianWord" shareMark=' + m.shareMark + ' url=' + m.url + ' attachmentId=' + m.attachmentId + ' attName=' + m.attName + '><p>' + m.attName.substring(37) + '</li></p>' + '</ul>'
        });
        $(".xy-projecterCon-projectword").append(strFujian);
        $(data.detailInfo.appraisals).each(function(i, m) {
            if (m.userName.length > 6) {
                m.userName = m.userName.substring(0, 5);
            };
            appraise += '<div class="appraisals">' + '<span class="xy-projecterCon-expertise-list-expertName">' + m.userName + '</span>' + '<ul>' + '<li class="xy-projecterCon-expertise-list-expertDescription"><p>' + m.content + '</p></li>' + '<li class="xy-projecterCon-expertise-list-descriptionTime">' + m.submitTime + '</li>' + '</ul></div>'
        });
        $(".xy-projecterCon-expertise").append(appraise);
        //点击更多
        var obj = $('#myarticle');
        if (obj.find('p').height() > obj.height()) {
            console.log("aa")
            $('#btn').show().on('click', function() {
                $('#myarticle').css('max-height', '1000px');
                $('#btn').hide();
                $("#zhankai-div").show();
            });
        };
    }, "post", function(data) {
        if (data.code == "910") {
            window.location.href = jumpHref;
        };
    });
    //项目推荐
    global_ajax("getRecommendList", {
        "projectId": glovallHref,
        "source": "weixin"
    }, function(data) {
        var getRecommendList = '';
        $(data.detailInfo.projectSummaryVOList).each(function(i, m) {
            var getRecommendpict = '';
            var dataImg = '';
            if (!m.pictures.length == 0) {
                getRecommendpict = m.pictures[0].url;
                dataImg = "dataImg";
            } else {
                getRecommendpict = "";
                dataImg = "dataEmpty";
            };
            getRecommendList += '<div class="xy-projecterCon-recommend-content" projectId=' + m.projectId + '>' + '<div class="xy-projecterCon-recommend-content-img" data-img=' + dataImg + '>' + '<img src=' + getRecommendpict + '></div>' + '<div class="xy-projecterCon-recommend-content-ul">' + '<ul class="clearfix">' + '<li class="fontBig">' + m.projectName + '</li>' + '<li>' + m.buildTime + '</li>' + '</ul>' + '<p>' + m.summary + '</p>' + '<ul class="clearfix">' + '<li><span class="getRecommendImg"></span><span>' + m.financingStage + '</span></li>' + '<li>' + m.topCategory + '.' + m.secondCategory + '</li>' + '</ul></div></div>'
        });
        $(".xy-projecterCon-recommend").append(getRecommendList);
        $(".xy-projecterCon-recommend-content").click(function() {
            window.location.href = "info.html?projectId=" + $(this).attr("projectId");
        });
    }, "post", function(data) {
        if (data.code == "910") {
            window.location.href = jumpHref;
        };
    });
    //发表评价
    $("#submit-comment").click(function() {
        $("#submit-comment").attr("disabled", "disabled");
        if (!$("#txtarea_id").val()) {
            $(".errorDialog").css({
                "width": "1.6rem",
                "height": "0.8rem",
                "line-height": "0.8rem"
            });
            $("#submit-comment").attr("disabled", false);
            fadeIn("内容不能为空");
            return
        };
        var selfComment = 0;
        if ($("#xuanzeRadio").hasClass("xuanzeRadichenck")) {
            selfComment = 1;
        } else {
            selfComment = 0;
        };
        global_ajax("addAppraisal", {
            "projectId": glovallHref,
            "appraisalContent": $("#txtarea_id").val(),
            "anonymous": selfComment,
            "source": "weixin"
        }, function(data) {
            $("#submit-comment").attr("disabled", false);
            $("#txtarea_id").val("");
            if (selfComment == 1) {
                $(".errorDialog").css({
                    "width": "1.6rem",
                    "height": "0.8rem",
                    "line-height": "0.8rem"
                });
                fadeIn("匿名发表成功");
                // setTimeout(function() {
                //     window.location.href = "info.html?projectId=" + glovallHref;
                // }, 3000);
            } else {
                $(".errorDialog").css({
                    "width": "1.2rem",
                    "height": "0.8rem",
                    "line-height": "0.8rem"
                });
                fadeIn("发表成功");
                // setTimeout(function() {
                    // location.reload();
                    // window.location.href = "info.html?projectId=" + glovallHref;
                // }, 3000);
            };
             global_ajax("getProjectDetail", {
                        "projectId": glovallHref,
                        "source": "weixin"
                    }, function(data) {
                        $(".xy-projecterCon-expertise-head").nextAll().remove();
                        var appraise = '';
                        $(data.detailInfo.appraisals).each(function(i, m) {
                            appraise += '<div>' + '<span class="xy-projecterCon-expertise-list-expertName">' + m.userName + '</span>' + '<ul>' + '<li class="xy-projecterCon-expertise-list-expertDescription">' + m.content + '</li>' + '<li class="xy-projecterCon-expertise-list-descriptionTime">' + m.submitTime + '</li>' + '</ul></div>'
                        });
                        $(".xy-projecterCon-expertise").append(appraise);
                    }, "post", function(data) {
                        if (data.code == "910") {
                            window.location.href = jumpHref;
                        };
                    });
        }, "post", function(data) {
            $("#submit-comment").attr("disabled", false);
            if (data.code == "910") {
                window.location.href = jumpHref;
            } else {
                $(".errorDialog").css({
                    "width": "1.2rem",
                    "height": "0.8rem",
                    "line-height": "0.8rem"
                });
                fadeIn("发表失败");
            };
        });

    });

    //点击附件上传
    //    $(".xy-projecterCon-projectword").on("click", "ul", function() {
    //        if ($(this).hasClass("isClick")) {
    //            return
    //        };
    //        global_ajax("sendEmail", {
    //            "projectId": glovallHref,
    //            "attachName": $(".strFujianWord").attr("attname"),
    //            "source": "weixin"
    //        }, function(data) {
    //            $(this).addClass("isClick");
    //            $(".errorDialog").css({
    //                "width": "2rem",
    //                "height": "0.9rem",
    //                "line-height": "0.45rem"
    //            });
    //            fadeIn("附件已经发送至邮箱,请及时查收");
    //        }, "post", function(data) {
    //            if (data.code == "910") {
    //                window.location.href = jumpHref;
    //            } else {
    //                $(".errorDialog").css({
    //                    "width": "1.2rem",
    //                    "height": "0.8rem",
    //                    "line-height": "0.8rem"
    //                })
    //                fadeIn("发送失败");
    //            };
    //        });
    //    });
    //提示框
    function fadeIn(str) {
        $(".errorDialog").css("z-index", "40");
        $(".errorDialog").css("opacity", "0.5");
        $(".errorDialog").text(str);
        setTimeout(function() {
            $(".errorDialog").css("opacity", "0");
            $(".errorDialog").css("z-index", "22");
        }, 3000);
    };
    //点击收起
    function doClick() {
        $('#myarticle').css('max-height', '1.5rem');
        $('#btn').show();
        $("#zhankai-div").hide();
    };
    //匿名
    function doChange() {
        if ($("#xuanzeRadio").hasClass("xuanzemo")) {
            $("#xuanzeRadio").removeClass("xuanzemo");
            $("#xuanzeRadio").addClass("xuanzeRadichenck");
        } else {
            $("#xuanzeRadio").removeClass("xuanzeRadichenck");
            $("#xuanzeRadio").addClass("xuanzemo");
        };
    };
    //texarea高度变化
    var autoTextarea = function(elem, extra, maxHeight) {
        extra = extra || 20;
        var isFirefox = !!document.getBoxObjectFor || 'mozInnerScreenX' in window,
            isOpera = !!window.opera && !!window.opera.toString().indexOf('Opera'),
            addEvent = function(
                type, callback) {
                elem.addEventListener ? elem.addEventListener(type, callback, false) : elem.attachEvent('on' + type, callback);
            },
            getStyle = elem.currentStyle ? function(name) {
                var val = elem.currentStyle[name];
                if (name === 'height' && val.search(/px/i) !== 1) {
                    var rect = elem.getBoundingClientRect();
                    return rect.bottom - rect.top - parseFloat(getStyle('paddingTop')) - parseFloat(getStyle('paddingBottom')) + 'px';
                };
                return val;
            } : function(name) {
                return getComputedStyle(elem, null)[name];
            },
            minHeight = parseFloat(getStyle('height'));
        elem.style.maxHeight = elem.style.resize = 'none';
        // elem.style.maxHeight="2rem";
        var change = function() {
            var scrollTop, height, padding = 0,
                style = elem.style;
            if (elem._length === elem.value.length)
                return;
            elem._length = elem.value.length;

            if (!isFirefox && !isOpera) {
                padding = parseInt(getStyle('paddingTop')) + parseInt(getStyle('paddingBottom'));
            };
            scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
            elem.style.height = minHeight + 'px';
            // if (elem.scrollHeight > minHeight) {
            if (maxHeight && elem.scrollHeight > maxHeight) {
                height = maxHeight - padding;
                style.overflowY = 'auto';
            } else {
                height = elem.scrollHeight - padding;
                style.overflowY = 'hidden';
            };
            style.height = height + 10 + 'px';
            scrollTop += parseInt(style.height) - elem.currHeight;
            document.body.scrollTop = scrollTop;
            document.documentElement.scrollTop = scrollTop;
            elem.currHeight = parseInt(style.height);
            var height = $(".xy-projecterCon-comment ").height();
            var paddingTottom = parseInt($(".xy-projecterCon-comment").css("padding-bottom").split("px")[0]);
            var paddingTop = parseInt($(".xy-projecterCon-comment").css("padding-top").split("px")[0]);
            height = paddingTottom + paddingTop + height + 10;
            $("#outSide").css("margin-bottom", height);
            // };
        };
        addEvent('input', change);
        addEvent('focus', change);
        addEvent('keydown', change);
        addEvent('keyup', change);
        change();
    };
    $(document).ready(function() {
        $("#txtarea_id").focus(function() {
            autoTextarea(document.getElementById("txtarea_id"), 1);
        });
    });
    $('.xy-projecterCon-comment').on('click', function() {
        var target = this;
        // 使用定时器是为了让输入框上滑时更加自然
        setTimeout(function() {
            target.scrollIntoView(true);
        }, 100);
    });

    function doEmail(str, i) {
        if($("ul[projectemail=" + i + "]").hasClass("isClick")){
            return
        };
        global_ajax("sendEmail", {
            "projectId": glovallHref,
            "attachName": str,
            "source": "weixin"
        }, function(data) {
            $("ul[projectemail=" + i + "]").addClass("isClick");
            $(".errorDialog").css({
                "width": "2rem",
                "height": "0.9rem",
                "line-height": "0.45rem"
            });
            fadeIn("附件已经发送至邮箱,请及时查收");
        }, "post", function(data) {
            if (data.code == "910") {
                window.location.href = jumpHref;
            } else {
                $(".errorDialog").css({
                    "width": "1.2rem",
                    "height": "0.8rem",
                    "line-height": "0.8rem"
                });
                fadeIn("发送失败");
            };
        });
    }
    //动态换图片
    var images = ['bg_img1@3x.png', 'bg_img2@3x.png', 'bg_img3@3x.png', 'bg_img4@3x.png', 'bg_img5@3x.png'];
    var url = images[Math.floor(Math.random() * images.length)];
    var urlImg = "../resources/image/" + url;
    urlImg = "url(" + urlImg + ")";
    $(".xy-projecterCon-head-img").css("background", urlImg);
    $(".xy-projecterCon-head-img").css("background-size", "100% 100%");
    </script>
</body>

</html>
