body {
  background-color: #fff;
  font-size: 1rem
}

.mui-input-group {
  background-color: #fafafa;
}

.mui-input-row {
  background-color: #fff;
}

.mui-input-group #mui-input-row-last:after {
  background-color: #fff;
}

#loginPassword>input,
#updatePswOldPsw,
#updatePswNewPsw,
#updatePswReNewPsw {
  -webkit-text-security: disc;
  text-security: disc;
}

.mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-input-row .mui-input-password~.mui-icon-eye,
.mui-input-row .mui-input-speech~.mui-icon-speech {
  right: 15px;
}

.mui-input-group .mui-input-row:after {
  right: 15px;
}

.mui-input-group:after {
  left: 15px;
  right: 15px;
}

.after-none:before {
  display: none;
}

.after-none:after {
  display: none;
}

.xy-wx-login {
  margin-top: 20%;
}

.xy-wx-loginBtn {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
}

.xy-wx-updatePassword,
.xy-wx-forgetPassword {
  line-height: 21px;
  height: 40px;
  padding: 10px 15px;
  display: inline-block;
  font-size: 12px;
  position: absolute;
}

.xy-wx-updatePassword {
  left: 0;
}

.xy-wx-forgetPassword {
  right: 0;
}

.xy-wx-operation-margin {
  margin: 10px 0 0;
}

.xy-wx-login-button-margin {
  margin-top: 20px;
}

#updatePasswordDialog,
#updatePasswordDialog {
  display: none;
}

#updatePasswordDialog {
  margin-top: 0.2rem;
  text-align: center;
}

#loginUserName {
  width: 5.9rem;
  margin: 0 auto;
  height: 1rem;
  /* margin-top: 0.5rem; */
  position: relative;
  border-radius: 0.5rem;
}

#loginUserName>input,
#loginPassword>input {
  border-radius: 60px;
  height: 100%;
}

#loginPassword,
#loginDialog-login {
  width: 5.9rem;
  margin: 0 auto;
  height: 1rem;
  margin-top: 0.4rem;
  position: relative;
}

#loginDialog-login {
  text-align: center;
  line-height: 1rem;
  background-color: #dab866;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 0.3rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  margin-top: 0.6rem;
}

#loginDialog-modify {
  width: 100%;
  margin: 0 auto;
  height: 0.6rem;
  text-align: center;
  color: #9094a0;
  font-size: 0.24rem;
  margin-top: 0.16rem;
  position: absolute;
  /* top: -1.2rem; */
  top: 6.38rem;
}

#loginDialog .loginDialog-hr {
  display: inline-block;
  width: 1px;
  height: 0.25rem;
  background-color: #9094a0;
  position: relative;
  top: 0.06rem;
}

#loginDialog-modify .loginDialog-modify-first {
  margin-right: 0.2rem;
}

.mui-input-group .mui-input-row {
  height: 80px;
}

#updatePasswordDialog input {
  height: 100%;
}

.xy-wx-login-button-margin {
  width: 6.9rem;
  margin: 0 auto;
  background-color: #dab866;
  color: #fff;
  font-size: 0.3rem;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 4.8rem;
  left: 0;
  right: 0;
  outline: none;
  border: none;
}

.mui-input-group .mui-input-row {
  height: 1.2rem;
}

#loginImg {
  width: 5.9rem;
  height: 1.92rem;
  background: url("../image/login_logo@3x.png") no-repeat;
  background-size: 100% 100%;
  margin: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.15rem;
}

#loginDialog {
  text-align: center;
}

#loginUserName input {
  background: url("../image/login_telphone1@3x.png") no-repeat 0.4rem;
  padding: 0;
  padding-left: 1rem;
  padding-top: 0.1rem;
  vertical-align: middle;
  font-size: 0.28rem;
  color: #3b3946;
  background-size: 6%;
}

#loginPassword input {
  background: url("../image/login_password1@3x.png") no-repeat 0.4rem;
  padding: 0;
  padding-left: 1rem;
  vertical-align: middle;
  font-size: 0.28rem;
  color: #3b3946;
  background-size: 6%;
}

.loginDialog-modify-third {
  margin-left: 0.15rem;
  color: #9094a0;
}

#updatePswUserName {
  background: url("../image/icon_telphone2@3x.png") no-repeat 0.28rem;
  padding: 0;
  padding-left: 1rem;
  background-size: 5.5%;
  vertical-align: middle;
  font-size: 0.28rem;
  color: #3b3946;
}

#updatePswOldPsw,
#updatePswNewPsw,
#updatePswOldPsw,
#updatePswReNewPsw {
  background: url("../image/icon_password2@3x.png") no-repeat 0.28rem;
  background-size: 6%;
  padding: 0;
  padding-left: 1rem;
  /* padding-top: 0.1rem; */
  vertical-align: middle;
  font-size: 0.28rem;
  color: #3b3946;
  background-size: 5.5%;
}

.errorDialog {
  min-width: 1.76rem;
  max-width: 3.6rem;
  width: auto;
  min-height: 0.8rem;
  height: auto;
  border-radius: 0.4rem;
  background-color: #000000;
  margin: 0 auto;
  position: relative;
  top: -2rem;
  opacity: 0;
  /* visibility: hidden; */
  color: #fff;
  font-size: 0.24rem;
  padding-left: 0.36rem;
  padding-right: 0.36rem;
  line-height: 0.76rem;
  text-align: center;
  display: inline-block;
  z-index: 22;
  /* display: none; */
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
  /* border: 1px solid #e2e4ea; */
}

a {
  color: #dab866;
}

.mui-popup-button {
  color: #dab866;
}

.doQuxiao {
  border-radius: 0 0 0 13px;
  font-size: 17px;
  line-height: 44px;
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0 5px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #007aff;
  background: rgba(255, 255, 255, .95);
  -webkit-box-flex: 1;
  color: #dab866;
}

.doSure {
  font-size: 17px;
  line-height: 44px;
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0 5px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #007aff;
  background: rgba(255, 255, 255, .95);
  -webkit-box-flex: 1;
  border-radius: 0 0 13px;
  color: #dab866;
}

.doQuxiao:after {
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  display: block;
  width: 1px;
  height: 100%;
  content: '';
  -webkit-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  background-color: rgba(0, 0, 0, .2)
}

.doSure:after {
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  display: block;
  width: 1px;
  height: 100%;
  content: '';
  -webkit-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  background-color: rgba(0, 0, 0, .2);
}

#position {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: rgba(0, 0, 0, .4);
}

.errorDialogtwo {
  top: -0.5rem;
}

@media screen and (max-width: 414px) {
  #loginUserName input,
  #loginPassword input {
    padding-top: 0.05rem;
  }
  #updatePswOldPsw,
  #updatePswNewPsw {
    padding-top: 0.05rem;
  }
}

@media screen and (max-width: 375px) {
  #loginUserName input,
  #loginPassword input {
    padding-top: 0.01rem;
  }
}

@media screen and (max-width: 320px) {
  #loginUserName input,
  #loginPassword input {
    padding-top: 0.05rem;
  }
}

#loginUserName:before,
#loginPassword:before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border: 1px solid #e2e4ea;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1rem;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
  border: none;
  position: relative;
  z-index: 33;
}

.mui-input-group .mui-input-row:after {
  background-color: #efeff4;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #c2c5d1;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c2c5d1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c2c5d1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #c2c5d1;
}
