.xy-model-page{width: 19px;height: 131px;background: url("../image/Group 2925.png") no-repeat;position: absolute;bottom: 0;right: -39px;}
.xy-model-page-first{background: url("../image/Group 2965.png") no-repeat;}
.xy-model-page-last{background: url("../image/Group 2983.png") no-repeat;}
.xy-model-page-only{background: url("../image/Group 3427.png") no-repeat;}
.xy-model-page-prev{position: absolute;width: 19px;height: 40px;top: 0;left: 0;cursor: pointer;}
.xy-model-page-info{position: absolute;width: 19px;height: 51px;top: 40px;left: 0;}
.xy-model-page-info p{font-size: 10px;line-height: 15px;width: 19px;text-align: center;margin: 0;}
.xy-model-page-info p:first-of-type{margin-top: 3px;color: #4f5354;}
.xy-model-page-info p:last-of-type{color: #c1c1c1;}
.xy-model-page-next{position: absolute;width: 19px;height: 40px;bottom: 0;left: 0;cursor: pointer;}