@charset "utf-8";

.contentRight > ul {
	width: 100%;
	height: auto;
}
.contentRight > ul > li {
	width: 100%;
	height: 200px;
	border: 1px solid #b9b9bf;
	border-radius: 6px;
	color: #1e282c;
	font-size: 14px;
}
.contentRight > ul > li:hover {
	background: #ededed;
}
.contentRight > ul > li + li {
	margin-top: 40px;
}


.contentRight > ul > li > div.orderInfo {
	width: 100%;
	height: 120px;
	padding: 15px 30px;
	border-bottom: 1px solid #b9b9bf;
}
.contentRight > ul > li > div.orderInfo > div {
	width: 100%;
	height: 45px;
}
.contentRight > ul > li > div.orderInfo > div > span {
	display: table;
	width: 20%;
	padding-right: 20px;
	line-height: 45px;
	cursor: default;
	white-space: nowrap;
	float: left;
}

.contentRight > ul > li > div.orderInfo > div > span:nth-child(1) {
	font-weight: bold;
}

.contentRight > ul > li > div.resultInfo {
	width: 100%;
	height: 79px;
	position: relative;
}

.contentRight > ul > li > div.resultInfo > span.infoTip {
	display: block;
	text-align: center;
	line-height: 79px;
	cursor: default;
	color: #ff6b6b;
	font-size: 16px;
}

.contentRight > ul > li > div.resultInfo > span.goToAuction {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 120px;
	height: 34px;
	line-height: 32px;
	color: #5093e1;
	text-align: center;
	border: 1px solid #5093e1;
	border-radius: 6px;
	cursor: pointer;
}
.contentRight > ul > li > div.resultInfo > span.goToAuction:hover {
	background: #5093e1;
    color: #fff;
}






































































































