@charset "UTF-8";
body {
	font-family: "Microsoft Yahei";
	font-size: 12px;
	padding: 0;
	margin: 0;
	position: relative;
}
* {
	padding: 0;
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.hide {
    display: none;
}
.show {
	display: block;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}
.clearfix:after {
	clear: both;
}
::selection {
    background: #b3d4fc;
    border: none;
}
*:focus {
	outline: none;
}
/**
*nav导航样式
*/
.nav-head {
	width: 100%;
	height: 50px;
	background: #5a6378;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
.nav-head > .nav-head-LOGO{
	width: 180px;
    height: 50px;
    float: left;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background: url("../image/LOGO-indent.png") no-repeat left+20px center;
    text-indent: 60px;
}
.nav-head > .nav-head-right{
	width: calc(100% - 180px);
    height: 50px;
    padding-right: 40px;
    float: right;
}
.nav-head > .nav-head-right > span{
	float: right;
	padding: 0 20px;
	font-size: 14px;
	color: #1e282c;
    line-height: 50px;
    cursor: pointer;
}
.nav-head > .nav-head-right > span:hover:not(.nav-head-userName){
	color: #fff;
	background: #5093e1;
}
.nav-head > .nav-head-right > span + span{
	margin-right: 40px;
}

/**
*内容展示--左侧菜单栏
*/
.contentBox {
	width: 100%;
	height: 1000px;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 1;
}
.contentBox > .leftMenu {
	width: 180px;
	height: 100%;
	background: #393f4f;
	position: fixed;
	left: 0;
    z-index: 5;
}
.contentBox > .leftMenu > ul {
	width: 100%;
	height: auto;
	background: transparent;
}
.contentBox > .leftMenu > ul > li {
	width: 100%;
    height: 80px;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: height .4s;
            transition: height .4s;
}
.contentBox > .leftMenu > ul > li > span {
	display: block;
	width: 100%;
	padding-left: 30px;
	line-height: 80px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	background: url("../image/select.png") no-repeat right+15px center;
}
.contentBox > .leftMenu > ul > li.accountManagement.active{
	background: #ff6b6b;
	height: 240px;
}
.contentBox > .leftMenu > ul > li + li{
	border-top: 1px solid #465468;
}
.contentBox > .leftMenu > ul > li.active > span {
	background: url("../image/selected.png") no-repeat right+15px center;
}
.contentBox > .leftMenu > ul > li.admin.active{
	background: #ff6b6b;
	height: 320px;
}
.contentBox > .leftMenu > ul > li.forme.active{
	background: #ff6b6b;
	height: 320px;
}
.contentBox > .leftMenu > ul > li > ul.secondMenu{
	width: 100%;
	height: auto;
	background: #5a6378;
}
.contentBox > .leftMenu > ul > li > ul.secondMenu > li{
	width: 100%;
	height: 80px;
	padding-left: 55px;
	line-height: 80px;
	color: #fff;
	font-size: 16px;
}
.contentBox > .leftMenu > ul > li > ul.secondMenu > li:hover{
	background: #6e7689;
}
.contentBox > .leftMenu > ul > li > ul.secondMenu > li.active{
	background: #7686bb;
}
/**
*内容展示--右侧内容展示部分
*/
.contentBox {
	width: 100%;
	height: auto;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 1;
}
.contentBox > .contentRight {
	width: 100%;
	height: auto;
	padding: 40px 40px 40px 220px;
	background: #fff;

}
@media screen and (max-width: 1300px) {
	.contentBox > .contentRight {
		width: 1300px;
		overflow-y: auto;
	}
}
/**
*修改密码模态框
*/
.modal-content {
	margin-top: 150px;
}
.modal-title{
	font-size: 16px;
	line-height: 60px;
}
.form-group label {
	line-height: 34px;
	font-weight: normal;
	font-size: 14px;
	text-align: right;
}
.modal-footer {
	margin-top: 0;
}
.modal-footer > div {
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.modal-footer .btn + .btn {
	margin-left: 20px;
}
#changePwd-modal .btn,
#releaseNewInfo .btn {
	width: 120px;
}
#releaseNewInfo .title-tip {
    line-height: 34px;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #999;
}
#releaseNewInfo .modal-body {
    position: relative;
}
#releaseNewInfo .modal-body > p {
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    color: #ff6b6b;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .4s;
       -moz-transition: opacity .4s;
        -ms-transition: opacity .4s;
         -o-transition: opacity .4s;
            transition: opacity .4s;
}
#releaseNewInfo .modal-body > p.active {
	opacity: 1;
}
.modal-backdrop {
	z-index: 10;
}

#errorTips .modal-title {
	line-height: 40px;
}
#errorTips .myModal-body {
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 14px;
	color: #ff6b6b;
}
#errorTips .myModal-footer {
	width: 100%;
	height: 60px;
	text-align: center;
}
#errorTips .myModal-footer > .btn {
	width: 120px;
}
#setPreBidding .modal-body {
    position: relative;
}
#setPreBidding .modal-body > .mes {
	width: 100%;
	height: 60px;
	font-size: 14px;
	font-style: normal;
	-webkit-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
	     -o-user-select:none;
	        user-select:none;
}
#setPreBidding .modal-body > .mes > span {
	line-height: 60px;
    cursor: default;
}
#setPreBidding .modal-body > .mes > span.unitPrice {
	margin-right: 20px;
}
#setPreBidding .modal-body > .mes > i {
	display: inline-block;
	width: 34px;
	height: 34px;
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	font-style: normal;
	cursor: pointer;
	background: transparent;
	-webkit-border-radius: 6px;
	-webkit-text-shadow: none;
}
#setPreBidding .modal-body > .mes > i:first-of-type {
	border: 1px solid #b8b8bf;
	color: #b8b8bf;
	margin-right: 10px;
}
#setPreBidding .modal-body > .mes > i:last-of-type {
	border: 1px solid #5093e1;
	color: #5093e1;
	margin-right: 10px;
}
#setPreBidding .modal-body > .mes > i:first-of-type:hover {
	background: #b8b8bf;
	color: #fff;
}
#setPreBidding .modal-body > .mes > i:last-of-type:hover {
	background: #5093e1;
	color: #fff;

}
#setPreBidding .modal-body > .mes > input {
	display: inline-block;
	width: 100px;
	height: 34px;
	padding: 0 15px;
	line-height: 34px;
	font-size: 14px;
	border-radius: 6px;
	text-shadow: none;
	border: 1px solid #ccc;
	margin-right: 10px;
}
#setPreBidding .modal-body > .mes > span.preBidding-totalPrice {
	display: inline-block;
	width: 65px;
	text-align: center;
	color: #ff6b6b;
}
#setPreBidding .modal-body > p.info-tips {
	position: absolute;
	top: -20px;
	left: 120px;
	font-size: 12px;
	color: #ff6b6b;
	padding: 10px 20px;
	border: 1px solid #ccc;
	background: #fff;
	opacity: 0;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	    -ms-border-radius: 6px;
	     -o-border-radius: 6px;
	        border-radius: 6px;
	-webkit-transition: opacity .4s;
	   -moz-transition: opacity .4s;
	    -ms-transition: opacity .4s;
	     -o-transition: opacity .4s;
	        transition: opacity .4s;
	-webkit-box-shadow: 2px 2px 3px #ccc;
	   -moz-box-shadow: 2px 2px 3px #ccc;
	    -ms-box-shadow: 2px 2px 3px #ccc;
	     -o-box-shadow: 2px 2px 3px #ccc;
	        box-shadow: 2px 2px 3px #ccc;
}
#setPreBidding .modal-body > p.info-tips.active {
	opacity: 1;
}

#setPreBidding .modal-body > p.info-tips:after{
	position: absolute;
	top: 34px;
	left: 16%;
	content: "";
	width: 8px;
	height: 8px;
	border: 1px solid #ccc;
	border-bottom: none;
	border-left: none;
	z-index: 100;
	background: #fff;
	-webkit-transform: rotateZ(135deg);
	   -moz-transform: rotateZ(135deg);
	    -ms-transform: rotateZ(135deg);
	     -o-transform: rotateZ(135deg);
	        transform: rotateZ(135deg);
}
#setPreBidding .modal-footer {
	text-align: center;
}
#setPreBidding .modal-footer > .btn{
	width: 120px;
}






















































