<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>曦域管理平台</title>
		<link rel="stylesheet" href="../resources/style/bootstrap.min.css" />
		<link rel="stylesheet" href="../resources/style/main.css" />
		<script type="text/javascript" src="../resources/javascript/jquery.min.js" ></script>
		<script type="text/javascript" src="../resources/javascript/md5.js" ></script>
		<script type="text/javascript" src="../resources/javascript/main.js" ></script>
		<script>
			$(function(){
				judgeAutoInput();
				global_menu.bindEvent();
				$('#login_password').focus(function(){
					if($(this).val() == '******************'){
						$(this).val('');
					}
				})
			})
			// localStorage封装
			function setLocalStorage(key, value){
				var curTime = new Date().getTime();
				localStorage.setItem(key,JSON.stringify({data:value,time:curTime}));
			}
			function getLocalStorage(key, exp){
				var data = localStorage.getItem(key);
				if(!data){
					return undefined;
				}
				var dataObj = JSON.parse(data);
				if (new Date().getTime() - dataObj.time>exp) {
					localStorage.removeItem(key);
					return undefined;
				}else{
					var dataObjDatatoJson = dataObj.data
					return dataObjDatatoJson;
				}
			}
			function judgeAutoInput(){
				// 判断是否需要自动登陆
				if(!global_validate.objectIsEmpty(getLocalStorage('remember_userMobile', 1000*60*60*24*15)) && !global_validate.objectIsEmpty(getLocalStorage('remember_userMobile', 1000*60*60*24*15))){
					$('#login_username').val(getLocalStorage('remember_userMobile', 1000*60*60*24*15));
					$('#login_password').val('******************');
					$('#login_password_hidden').val(getLocalStorage('remember_password', 1000*60*60*24*15));
//					$('#rememberPassword').prop('checked', 'checked');
				}
			}
//			function clickCheckboxToCheck(_this){
//				// 点击记住密码时，选中checkbox
//				var checkbox = $(_this).parent().find('input[type=checkbox]');
//				if(checkbox.is(':checked')){
//					checkbox.removeAttr('checked');
//				}else{
//					checkbox.prop('checked', 'checked');
//				}
//			}
			function login(){
				// 登录操作
				// 参数获取，验证
				var username = $('#login_username').val();
				var password = $('#login_password').val();
//				var isCheckRememberPassword = $('#rememberPassword').is(':checked');
				var isRemember = true;
				if(password == '******************'){
					isRemember = false;
					password = $('#login_password_hidden').val();
				}
				if(global_validate.stringIsEmpty(username)){
					global_dialog.error('请输入用户名！');
					return;
				}
				if(global_validate.stringIsEmpty(password)){
					global_dialog.error('请输入登录密码！');
					return;
				}
				if(isRemember){
					password = hex_md5(password);
				}

				// 数据提交，成功进入主界面
				global_ajax('login', {
					'userMobile': username,
					'password': password
				}, function(data){
//					if(isCheckRememberPassword){// 勾选记住密码
					setLocalStorage("remember_userMobile", username);
					setLocalStorage("remember_password", password);
//					}
					// 登录信息保存
					sessionStorage.setItem("login_userMobile", data.detailInfo.userMobile);
					window.location.href = './index.html';
				})
			}
			function updatePassword(){
				// 修改密码操作
				// 参数获取，验证
				var username = $('#update_username').val();
				var oldPassword = $('#update_oldPassword').val();
				var newPassword = $('#update_newPassword').val();
				var reNewPassword = $('#update_reNewPassword').val();
				if(global_validate.stringIsEmpty(username) || global_validate.stringIsEmpty(oldPassword) || global_validate.stringIsEmpty(newPassword) || global_validate.stringIsEmpty(reNewPassword)){
					global_dialog.error('请填写完整！');
					return;
				}
				if(!global_validate.passwordIsOk(oldPassword)){
					global_dialog.error('旧密码错误，请重新输入！');
					return;
				}
				if(oldPassword == newPassword){
					global_dialog.error('输入的新旧密码相同，请重新输入！');
					return;
				}
				if(newPassword != reNewPassword){
					global_dialog.error('两次输入的新密码不统一，请重新输入！');
					return;
				}
				if(!global_validate.passwordIsOk(newPassword)){
					global_dialog.error('新密码不符合要求，请重新输入！');
					return;
				}

				oldPassword = hex_md5(oldPassword);
				newPassword = hex_md5(newPassword);
				// 数据提交，成功回到登录
				global_ajax('updatePassword', {
					'userMobile': username,
					'oldPassword': oldPassword,
					'newPassword': newPassword
				}, function(data){
					global_dialog.alert("修改密码成功！");
					showLoginDialog();
					$('#login_username').val(username);
					$('#login_password').val('******************');
					$('#login_password_hidden').val(newPassword);
//					$('#rememberPassword').prop('checked', 'checked');
				})
			}
			function showUpdateDialog(){
				// 点击修改密码，清空input内容，隐藏登录对话框，弹出修改密码对话框
				$('.interface-right-password').find('input[type=text]').val('');
				$('.interface-right-password').find('input[type=password]').val('');
				$('.interface-right-login').addClass('interface-right-login-hide');
				$('.interface-right-password').addClass('interface-right-password-show');
			}
			function showLoginDialog(){
				// 点击回到登录，隐藏修改密码对话框，弹出登录对话框
				$('.interface-right-login').find('input[type=text]').val('');
				$('.interface-right-login').find('input[type=password]').val('');
				$('.interface-right-login').find('input[type=checkbox]').removeAttr('checked');
				$('.interface-right-login').removeClass('interface-right-login-hide');
				$('.interface-right-password').removeClass('interface-right-password-show');
			}
		</script>
	</head>
	<body>
		<!--<div class="interface-left">-->
			<!--<div class="interface-left-logo">-->
				<!--<img src="../resources/image/logo_small.png" alt="logo"/>-->
			<!--</div>-->
			<!--<div class="interface-left-menu" id="menu">-->
				<!--<dl class="menu-father-check">-->
					<!--<dt>首页</dt>-->
				<!--</dl>-->
			<!--</div>-->
		<!--</div>-->
		<div class="interface-right overflow-hidden" style="left: 0;">
			<div class="interface-right-login clearfix">
				<div class="input-group input-group-lg">
				  	<span class="input-group-addon">用户名</span>
				  	<input id="login_username" type="text" class="form-control" placeholder="请输入用户名">
				</div>
				<div class="input-group input-group-lg">
				  	<span class="input-group-addon">登录密码</span>
				  	<input id="login_password" type="password" class="form-control" placeholder="请输入登录密码">
					<input id="login_password_hidden" type="hidden">
				</div>
				<div class="login-tool">
					<!--<span class="pull-left remember-password"><input id="rememberPassword" type="checkbox" /><span onclick="clickCheckboxToCheck(this)">记住密码</span></span>-->
					<span class="pull-left update-password" onclick="showUpdateDialog()">修改密码>></span>
					<button type="button" class="btn btn-primary pull-right" onclick="login()">登录</button>
				</div>
			</div>
			<div class="interface-right-password clearfix">
				<div class="input-group input-group-sm">
				  	<span class="input-group-addon">用户名</span>
				  	<input id="update_username" type="text" class="form-control" placeholder="请输入用户名">
				</div>
				<div class="input-group input-group-sm">
				  	<span class="input-group-addon">旧密码</span>
				  	<input id="update_oldPassword" type="password" class="form-control" placeholder="请输入旧密码">
				</div>
				<div class="input-group input-group-sm">
				  	<span class="input-group-addon">新密码</span>
				  	<input id="update_newPassword" type="password" class="form-control" placeholder="请输入新密码">
				</div>
				<div class="input-group input-group-sm">
				  	<span class="input-group-addon">新密码确认</span>
				  	<input id="update_reNewPassword" type="password" class="form-control" placeholder="请再输入一次新密码">
				</div>
				<div class="login-tool">
					<span class="pull-left goback-login" onclick="showLoginDialog()">回到登录>></span>
					<button type="button" class="btn btn-primary btn-sm pull-right" onclick="updatePassword()">修改密码</button>
				</div>
			</div>
		</div>
	</body>
</html>
