button{
	outline: none;
	border: none;
}
.account-add-email,.account-add-name,.account-add-name,.account-add-gushu,.account-add-ksgushu{
	height: 50px;
}
.contentRight label{
	width: 180px;
	font-size: 16px;
	color: #888;
	/* text-align: right; */
	padding-right: 10px;
}
.contentRight input{
	width: 300px;
	height: 30px;
}
.account-add-sure{
	width: 485px;
	text-align: right;
}
.account-add-sure button{
	width: 100px;
	height: 35px;
	border-radius: 6px;
}
.account-add-sure button:hover{
	background-color: #ff6b6b;
	color: #fff;
}