@charset "utf-8";
.contentRight > .content-title {
	width: 100%;
	height: 34px;
	border-bottom: 1px solid #5a6378;
}
.contentRight > .content-title > span {
	display: block;
	float: left;
    padding: 0 30px;
    line-height: 34px;
    font-size: 14px;
    color: #fff;
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
        -ms-border-radius: 6px 6px 0 0;
         -o-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
    background: #5a6378;
    cursor: pointer;
}
.contentRight > .content-title > span:hover {
	background: #6e7689;
}
.contentRight > .content-title > span.active {
	background: #ff6b6b;
}
.contentRight > .content-title > span:first-child {
	margin-left: 30px;
}
.contentRight > .content-title > span + span {
	margin-left: 3px;
}


.contentRight > ul {
	width: 100%;
	height: auto;
	margin-top: 40px;
}
.contentRight > ul > li {
	width: 100%;
	height: 200px;
	border: 1px solid #b9b9bf;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	    -ms-border-radius: 6px;
	     -o-border-radius: 6px;
	        border-radius: 6px;
	color: #1e282c;
	font-size: 14px;
}
.contentRight > ul > li:hover {
	background: #ededed;
}
.contentRight > ul > li + li {
	margin-top: 40px;
}


.contentRight > ul > li > div.orderInfo {
	width: 100%;
	height: 120px;
	padding: 15px 30px;
	border-bottom: 1px solid #b9b9bf;
}
.contentRight > ul > li > div.orderInfo > div {
	width: 100%;
	height: 45px;
}
.contentRight > ul > li > div.orderInfo > div > span {
	display: table;
	width: 20%;
	float: left;
	padding-right: 20px;
	line-height: 45px;
	cursor: default;
	white-space: nowrap;
}

.contentRight > ul > li > div.orderInfo > div > span:nth-child(1) {
	font-weight: bold;
}


.contentRight > ul > li > div.resultInfo {
	width: 100%;
	height: 79px;
	position: relative;
}
.contentRight > ul > li > div.resultInfo > div.auditIdea {
	width: 100%;
	height: 100%;
	padding-right: 420px;
	padding-top: 23px;
}
.contentRight > ul > li > div.resultInfo > div.auditIdea > input {
	display: block;
	float: right;
	width: 30%;
	height: 34px;
    line-height: 34px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ms-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
    border: none;
    border-bottom: 1px solid #b9b9bf;
    background: transparent;
    position: relative;
}
.contentRight > ul > li > div.resultInfo > div.auditIdea > input:focus {
    border-bottom: 2px solid #f90;
}
.contentRight > ul > li > div.resultInfo > div.auditIdea > span {
	float: right;
	width: 120px;
	line-height: 34px;
	cursor: default;
}


.contentRight > ul > li > div.resultInfo > div.audit-btn {
	position: absolute;
	right: 0;
	width: 320px;
	height: 100%;
	padding-top: 23px;
	margin-right: 100px;
}
.contentRight > ul > li > div.resultInfo > div.audit-btn > span.audit-true {
	float: left;
	width: 120px;
	line-height: 32px;
	margin-left: 30px;
	color: #5093e1;
	text-align: center;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	    -ms-border-radius: 6px;
	     -o-border-radius: 6px;
	        border-radius: 6px;
	border: 1px solid #5093e1;
	cursor: pointer;
}
.contentRight > ul > li > div.resultInfo > div.audit-btn > span.audit-true:hover {
	background: #7fb3f0;
    color: #fff;
}
.contentRight > ul > li > div.resultInfo > div.audit-btn > span.audit-true.active {
	background: #5093e1;
    color: #fff;
}
.contentRight > ul > li > div.resultInfo > div.audit-btn > span.audit-false {
	float: left;
	width: 140px;
	line-height: 32px;
	margin-left: 30px;
	color: #5093e1;
	text-align: center;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	    -ms-border-radius: 6px;
	     -o-border-radius: 6px;
	        border-radius: 6px;
	border: 1px solid #5093e1;
	cursor: pointer;
}
.contentRight > ul > li > div.resultInfo > div.audit-btn > span.audit-false:hover {
	background: #7fb3f0;
    color: #fff;
}
.contentRight > ul > li > div.resultInfo > div.audit-btn > span.audit-false.active {
	background: #5093e1;
    color: #fff;
}





































































































