<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="../resources/javascript/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../resources/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/javascript/main.js"></script>
    <script type="text/javascript" src="../resources/javascript/publick.js"></script>
    <script type="text/javascript" src="../resources/javascript/auditOrder/auditOrder.js"></script>
    <link rel="stylesheet" href="../resources/style/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/style/publick.css">
    <link rel="stylesheet" type="text/css" href="../resources/style/auditOrder/auditorder.css">
</head>

<body>
    <nav class="nav-head">
        <div class="nav-head-LOGO">米么股权系统</div>
        <div class="nav-head-right">
            <span class="nav-head-logout">退出</span>
            <span class="nav-head-changPwd" data-target="#changePwd-modal" data-toggle="modal">修改密码</span>
            <span class="nav-head-userName">沈旭祥</span>
        </div>
    </nav>
    <div class="contentBox">
        <div class="leftMenu">
            <ul>
                <li class="accountManagement">
                    <span>账户管理</span>
                    <ul class="secondMenu">
                        <li class="" urlSrc="#"><a href="auditOrder.html">新增账户</a></li>
                        <li urlSrc="#">账户查看</li>
                    </ul>
                </li>
                <li class="admin ">
                    <span>管理员</span>
                    <ul class="secondMenu">
                        <li urlSrc="#">竞拍配置</li>
                        <li urlSrc="auditOrder.html">待审核订单</li>
                        <li urlSrc="#">待确认订单</li>
                    </ul>
                </li>
                <li class="forme ">
                    <span>我的股权</span>
                    <ul class="secondMenu">
                        <li urlSrc="#">我的发布</li>
                        <li urlSrc="#">我的竞拍</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="contentRight">
        </div>
</body>
</html>
