<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../resources/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/style/login/login.css">
    <link rel="stylesheet" type="text/css" href="../resources/style/dialog.css">
    <link rel="stylesheet" type="text/css" href="../resources/style/alert.css">
    <script type="text/javascript" src="../resources/javascript/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../resources/javascript/md5.js"></script>
    <script type="text/javascript" src="../resources/javascript/validate.js"></script>
    <script type="text/javascript" src="../resources/javascript/dialog.js"></script>
</head>

<body>
    <!-- 登录 -->
    <div class="subject-login" id="loginIn">
        <div class="subject-login-header">米么金服股权竞拍系统</div>
        <form class="form-horizontal" role="form" onsubmit="return false;">
        <div class="input-group input-group-lg subject-login-name">
            <span class="input-group-addon" style="width:90px">用户名</span>
            <input class="form-control" id="login_username" style="width:230px" type="email" placeholder="请输入用户名" required>
            <!-- <span onclick="doCheckregister()">现在注册</span> -->
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" style="width:90px">密码</span>
            <input class="form-control" id="login_password" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" oninput="if(value.length>6)value=value.slice(0,6)" style="width:230px" type="email" placeholder="请输入密码" required>
            <!-- <span class="subject-login-find" onclick="findPass()">找回密码</span> -->
        </div>
        <div class="login-bottom">
            <button onclick="doLogin()">登录</button>
        </div>
        </form>
    </div>
    <!-- 注册 -->
    <div class="register-login" id="register">
        <div class="subject-login-header">注册</div>
        <form class="form-horizontal" role="form" onsubmit="return false;">
        <div class="input-group input-group-lg subject-register-name">
            <span class="input-group-addon" style="width:90px">用户名</span>
            <input class="form-control" id="register_username" type="text" placeholder="请输入用户名" required>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" style="width:90px">密码</span>
            <input class="form-control" id="register_password" type="text" placeholder="请输入密码" required>
        </div>
        <div class="register-login-bottom">
            <button onclick="doRegister()">立即注册</button>
        </div>
        </form>
    </div>
    <!-- 找回密码 -->
    <div class="finpassword-login register-login" id="findPass">
        <div class="subject-login-header">找回密码</div>
        <form class="form-horizontal" role="form" onsubmit="return false;">
        <div class="input-group input-group-lg subject-find-name">
            <span class="input-group-addon" style="width:90px">用户名</span>
            <input class="form-control" id="find_username" type="text" placeholder="请输入用户名" required>
        </div>
        <div class="input-group input-group-lg finpassword-login-old">
            <span class="input-group-addon" style="width:90px">旧密码</span>
            <input class="form-control" id="find_passwordOld" type="text" placeholder="请输入密码" required>
        </div>
         <div class="input-group input-group-lg finpassword-login-new">
            <span class="input-group-addon" style="width:90px">新密码</span>
            <input class="form-control" id="find_passwordNew" type="text" placeholder="请输入密码" required>
        </div>
         <div class="input-group input-group-lg finpassword-login-newAgain">
            <span class="input-group-addon" style="width:90px">新密码确认</span>
            <input class="form-control" id="find_passwordNewagain" type="text" placeholder="请输入密码" required>
        </div>
        <div class="register-login-bottom">
            <button onclick="doModifypass()">修改</button>
        </div>
        </form>
    </div>
    <script type="text/javascript" src="../resources/javascript/login/login.js"></script>
</body>

</html>
