<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nanmi.msts.web.dao.OperationMapper">
    <resultMap id="myBiddingMap" type="cn.nanmi.msts.web.model.MyBiddingDTO">
        <result column="ORDER_NO" javaType="String" property="orderNo"></result>
        <result column="STOCKS_AMT" javaType="Double" property="stockAmt"></result>
        <result column="INITIAL_PRICE" javaType="Double" property="initPrice"></result>
        <result column="SALE_TIME" javaType="Date" property="saleTime"></result>
        <result column="MAX_BIDDING_PRICE" javaType="Double" property="nowPrice"></result>
        <result column="MAX_BIDDER" javaType="Long" property="bidderId"></result>
        <result column="OPERATION_AMT" javaType="Double" property="myPrice"></result>
        <result column="EXPIRE_TIME" javaType="Date" property="expireTime"></result>
        <result column="ORDER_STATE" javaType="Integer" property="orderState"></result>
        <result column="BUYER_CONFIRM" javaType="Integer" property="buyerConfirm"></result>
        <result column="USER_NAME" javaType="String" property="sellerName"></result>
        <result column="MOBILE_NO" javaType="String" property="sellerMobile"></result>
    </resultMap>

    <select id="addOperation" parameterType="cn.nanmi.msts.web.dao.entities.OperationEntity">
      REPLACE INTO USER_OPERATION_STATUS (USER_ID,ORDER_NO,OPERATION_TYPE,OPERATION_TIME,OPERATION_AMT)
      VALUE (#{userId},#{orderNo},#{operationType},NOW(),#{operationPrice})
    </select>

    <select id="getMyBiddingRecord" resultMap="myBiddingMap">
      SELECT UO.ORDER_NO,UO.STOCKS_AMT,UO.INITIAL_PRICE,UO.SALE_TIME,UO.MAX_BIDDING_PRICE,UO.BUYER_CONFIRM
          ,UO.MAX_BIDDER,UOS.OPERATION_AMT,UO.EXPIRE_TIME,UO.ORDER_STATE,UU.USER_NAME,UU.MOBILE_NO
      FROM USER_OPERATION_STATUS UOS
      LEFT JOIN USER_ORDER UO
      ON UO.ORDER_NO = UOS.ORDER_NO
	  LEFT JOIN USER UU
	  ON UU.USER_ID = UO.SELLER_ID
      WHERE UOS.USER_ID = #{userId} AND UOS.OPERATION_TYPE = 1
      ORDER BY UO.SALE_TIME DESC
	  LIMIT #{startPage},#{pageSize}
    </select>

    <select id="getMyBiddingRecordCount" resultType="Long">
        SELECT COUNT(1)
        FROM USER_OPERATION_STATUS UOS
        LEFT JOIN USER_ORDER UO
        ON UO.ORDER_NO = UOS.ORDER_NO
        WHERE UOS.USER_ID = #{userId} AND UOS.OPERATION_TYPE = 1
    </select>

</mapper>